.attribution {
  font-size: 18px;
  text-align: center;
  position: fixed;
  bottom: 0;
  color: hsl(228, 45%, 44%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: #000b49;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  margin: auto 0;
}

.time img {
  padding-right: 5px;
}
.icon {
  padding-right: 5px;
}
.creation {
  color: #577bc1;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 12px;
}
h2 {
  color: white;
  text-align: left;
  margin-left: 25px;
  margin-top: 2px;
}

h2:hover {
  color: #1db9c3;
  cursor: pointer;
}

hr {
  width: 75%;
  background-color: #577bc1;
  height: 0.3px;
  border: none;
}

.image1 {
  width: 85%;
  height: auto;
  border-radius: 10px;
  box-shadow: black;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.jules {
  color: white;
  padding-left: 10px;
  padding-top: 15px;
}
.jules:hover {
  color: #1db9c3;
  cursor: pointer;
}

.main {
  background-color: #151e58;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  max-width: 355px;
  margin-top: 10%;
}

.balance {
  color: #577bc1;
  text-align: left;
  margin-left: 25px;
  margin-top: 0;
}
.price {
  color: #1db9c3;
  display: flex;
  margin: 3px 25px;
}
.time {
  color: #577bc1;
  margin-left: 33%;
}
.container {
  height: 60px;
  width: 40px;
  float: left;
  margin-right: 10px;
}
.container img {
  height: auto;
  width: 100%;
  float: left;
  border-radius: 50%;
  border: 1px solid white;
}
.nft-image {
  position: relative;
  float: left;
}
.nft-image:hover {
  cursor: pointer;
}
.nft-image:hover .eye {
  display: block;
}
.image1:hover {
  background-color: cyan;
  opacity: 0.5;
}

.eye {
  position: absolute;
  display: none;
  top: 45%;
  width: 48px;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  z-index: 100;
}

@media (min-width: 400px) and (max-width: 732px) {
  .price {
    font-size: 14px;
    max-width: 400px;
    text-align: center;
  }
  .time {
    margin-left: 20%;
  }
}
